html {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #2f6ccf;
}

h1 {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.topnav {
  overflow: hidden;
}
.topnav h1 {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  margin-top: 20px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
p,
button,
input {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}
input,
select {
  vertical-align: middle;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-grid {
  position: relative;
  padding: 5%;
}

.card-cont {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}
.card-cont dl {
  display: flex;
  margin-bottom: 10px;
}
.card-cont dl dt {
  width: 22%;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 2.2;
}
.card-cont dl dd {
  margin-right: 10px;
}
.card-cont dl dd img {
  padding-top: 5px;
}

input[type="submit"] {
  border: none;
  color: #2d2b2b;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 50px;
  transition-duration: 0.4s;
  width: 100%;
}

input[type="submit"]:hover {
  color: #fff;
  background-color: #05327b;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
select {
  width: 100%;
  padding: 7px 10px;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"] {
  width: 100%;
  padding: 7px 10px;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.8;
  margin-bottom: 30px;
  &:before {
    content: "";
    /* use the linear-gradient for the fading effect
    use a solid background color for a solid bar */
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    /* this is really the only tricky part, you need to specify the background color of the container element... */
    color: #05327b;
    border-radius: 5px;
    background-color: #fff;
  }
}
/* 
.toggle-password {
  position: relative;
  transform: translateY(-10%);
  cursor: pointer;
  width: 24px;
  height: 24px;
} */

select {
  text-align-last: center;
  outline: 0;
  background: #034078;
  color: #fff;
  /* border: 1px solid crimson; */
  padding: 7px;
  border-radius: 9px;
}

.setting {
  color: #fff;
}
.setting img {
  width: 100%;
}
.setting div {
  margin: 20px 5%;
}

.bottom-btn {
  position: fixed;
  bottom: 30px;
  width: 90%;
}

/* .add {
} */
.add p img {
  width: 100%;
}
.add_con {
  text-align: center;
  color: #fff;
  margin: 100px 0;
}
.add_con a {
  color: #fff;
  text-decoration: none;
}
.add_con a img {
  padding-bottom: 10px;
}
